@import '../css/modules/fonts.scss';
@import '../css/modules/variables.scss';
@import '../css/modules/modals.scss';
@import '../css/modules/nav.scss';
@import '../css/modules/index.scss';
@import '../css/modules/shop.scss';
@import '../css/modules/account.scss';
@import '../css/modules/account-settings.scss';
@import '../css/modules/footer.scss';


* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#result {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 90px;
    height: auto;
}

.product-container {
    width: 30%;
    height: auto;
    background-color: beige;
    border: 2px solid rgb(67, 60, 60);
    font-size: 12px;
    text-align: center;
    margin: 5px;
}